<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">

<head>
<title th:text="#{clients.find.title}">ATS Clients Find</title>
<!--/*/ <th:block th:include="fragments/general :: header">
        </th:block> /*/-->

<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{clients.find.header}">Teams Find</h1>
	<form action="#" class="form-inline" method="get">
        <div class="form-group">
            <label for="clientname" class="mr-2 font-weight-bold"
                th:text="#{clients.find.search.name}">Client Name</label> <input
                id="clientname" name="clientname" type="text" class="mr-5 form-control"
                placeholder="Enter Client Name" />
            <label for="clientDescription" class="mr-2 font-weight-bold"
                th:text="#{clients.find.search.description}">Description</label> <input
                id="clientDescription" name="clientDescription" type="text" class="mr-5 form-control"
                placeholder="Enter Description" />
            <button id="client-search" class="btn btn-primary mr-1"
                th:text="#{button.search}">Search</button>
            <button id="client-reset" class="btn btn-secondary"
                th:text="#{button.reset}">Reset</a>
        </div>
    </form>
	<table id="find-clients" class="table table-striped table-bordered"
		style="width: 100%">
		<thead>
            <tr>
                <th th:text="#{clients.find.column.name}">Client Name</th>
                <th th:text="#{clients.find.column.description}">Description</th>
                <th th:text="#{clients.find.column.team}">Team</th>
                <th th:text="#{clients.find.column.action}">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="client : ${clientsForms}">
                <td th:text="${client.name} + (${client.isDefault} ? ' (Default)' : '')">Client</td>
                <td th:text="${client.description}">Description</td>
                <td th:text="${client.team.name}">Description</td>
                <td>
                    <a th:href="@{/clients/view(id=${client.id})}"> <i
                        class="fa fa-eye"></i></a> &nbsp; 
                    <a th:href="@{/clients/edit(id=${client.id})}"><i 
                        class="fa fa-pen"></i></a> &nbsp;
                </td>
            </tr>
        </tbody>
	</table>
	<script th:src="@{/js/clients-find.js}"></script>
</section>

</html>