<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{dashboard.title}">ATS End of Day Report</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-4">
					<span class="h3 mb-2 text-gray-800" th:text="#{eodreport.header}">End of Day Report</span>
					<span id="date-today"
						th:text="#{eodreport.date(${#temporals.format(serverDate, 'MMMM d, yyyy hh:mm a')})}">As of Today</span>
				</div>
			</div>
			<hr/>

			<div class="row">
				<div class="col">
					<div th:if="${eodReportForm.id != null}">
						<div
							th:replace="fragments/alerts :: alert-info(message=#{eodreport.message.reportexists(${#temporals.format(eodReportForm.createDate, 'MMMM d, yyyy hh:mm a')})})"></div>
					</div>
				</div>
			</div>

			<form id="eod-select-form" class="form-inline" action="" method="get">
				<div class="col-6">
					<div class="form-row">

						<label for="eod-select" class="col-form-label font-weight-bold mr-sm-2"
							th:text="|Report Date|">
							Source Name
						</label>

						<select id="eod-select" name="id"
							class="form-control mr-sm-2">
							<option th:each="report : ${reports}" th:text="${report.reportDate}" th:selected="${eodReportForm.id == report.id}" th:value="${report.id}">Report Date</option>
							<option th:if="${eodReportForm.id == null}" th:text="${eodReportForm.reportDate}" th:selected="true" th:value="null">Today</option>
						</select>

						<button type="submit" id="import-selected" class="form-control btn btn-primary mb-2"
							th:text="#{eodreport.button.load}">
							Import selected
						</button>
					</div>
				</div>
			</form>

			<form id="activity-form" action="#" th:action="@{/eod-report/preview}" th:object="${eodReportForm}" method="post">

				<input type="hidden" th:field="*{id}"/>

				<!--Sources-->
				<div class="form-row">

					<div class="form-group col-lg-3 col-xl-3" th:each="source, iter : *{sources}">
						<div class="col-md-12">
							<div class="form-row form-group">
								<!--Using th:name instead of th:field so that value is retained-->
								<input th:name="|sources[__${iter.index}__].source.id|" type="hidden" 
									class="form-control form-control-sm" th:value="${source.source.id}"/>
								<input th:name="|sources[__${iter.index}__].source.name|" type="hidden" 
									class="form-control form-control-sm" th:value="${source.source.name}"/>
								<input th:name="|sources[__${iter.index}__].source.category|" type="hidden" 
									class="form-control form-control-sm" th:value="${source.source.category}"/>
								
								<label th:for="|sources__${iter.index}__.sourceViews|" class="col-sm-12 col-form-label font-weight-bold"
										th:text="${source.source.name}">Source Name</label>

								<div class="col-sm-6">
									<input th:field="*{sources[__${iter.index}__].sourceViews}" type="number"
										class="form-control form-control-sm" placeholder="Views"/>
								</div>
								<div class="col-sm-6">
									<input th:field="*{sources[__${iter.index}__].sourceLeads}" type="number"
										class="form-control form-control-sm" placeholder="Leads"/>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!--Other Leads-->
				<div class="form-row">

					<div class="form-group col-lg-2 col-xl-2" th:each="lead, iter : *{leads}">
						<div class="col-md-12">
							<div class="form-row form-group">
								<input th:name="|leads[__${iter.index}__].source.id|" type="hidden" 
									class="form-control form-control-sm" th:value="${lead.source.id}"/>
								<input th:name="|leads[__${iter.index}__].source.name|" type="hidden"
									class="form-control form-control-sm" th:value="${lead.source.name}"/>
								<input th:name="|leads[__${iter.index}__].source.category|" type="hidden"
									class="form-control form-control-sm" th:value="${lead.source.category}"/>

								<label th:for="|leads__${iter.index}__.leads|" class="col-sm-12 col-form-label font-weight-bold"
										th:text="${lead.source.name}">Lead Name</label>
								<div class="col-sm-12">
									<input th:field="*{leads[__${iter.index}__].leads}" type="number"
										class="form-control form-control-sm" placeholder="Leads"/>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!--Activity-->
				<div class="form-row">

					<div class="form-group col-lg-2 col-xl-2" th:each="activity, iter : *{activity}">
						<div class="col-md-12">
							<div class="form-row form-group">

								<input th:name="|activity[__${iter.index}__].source.id|" type="hidden" 
									class="form-control form-control-sm" th:value="${activity.source.id}"/>
								<input th:name="|activity[__${iter.index}__].source.name|" type="hidden"
									class="form-control form-control-sm" th:value="${activity.source.name}"/>
								<input th:name="|activity[__${iter.index}__].source.category|" type="hidden"
									class="form-control form-control-sm" th:value="${activity.source.category}"/>

								<label th:for="|activity__${iter.index}__.activity|" class="col-sm-12 col-form-label font-weight-bold"
										th:text="${activity.source.name}">Activity Name</label>
								<div class="col-sm-12">
									<input th:field="*{activity[__${iter.index}__].activity}" type="number"
										class="form-control form-control-sm" placeholder="Activity"/>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="form-row">

					<div class="form-group col-lg-4 col-xl-4">
						<div class="col-md-12">
							<div class="form-row form-group">
								<label th:for="*{comment}" class="col-sm-12 col-form-label font-weight-bold"
									th:text="#{eodreport.form.comment}">Activity Name</label>
								<div class="col-sm-12">
									<textarea id="comment-box" th:field="*{comment}" type="text" rows="7" maxlength="5000"
										class="form-control form-control-sm" placeholder="Comment"/>
									<p>Characters left: <span id="charlimit">5000</span></p>
								</div>
							</div>
						</div>
					</div>

				</div>
				
				<div class="form-group">
					<div class="col">
						<button id="generate-preview" type="button" class="btn btn-secondary"
							th:text="#{eodreport.activity.button.preview}">Generate Preview</button>
						<button id="send-report" type="button" class="btn btn-primary"
							th:text="#{eodreport.activity.button.send}">Send</button>
						<span id="send-status"></span>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-12 mt-4">
					<span class="h5 btn-align-sm" th:text="#{eodreport.preview.header}">Preview</span>
					<hr/>
					<div class="iframe-container"><iframe id="preview"></iframe></div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/eod-report.js}"></script>
</section>

</html>