<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{joborder.edit.title}">ATS Job Order</title>
<!--/*/ <th:block th:include="fragments/general :: header">
		</th:block> /*/-->
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{joborder.edit.header}">Job
		Order Entry</h1>
	<form action="#" th:action="@{/joborder/save}"
		th:object="${jobOrderForm}" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col">
				<div th:if="${errorMessage != null}">
					<div
						th:replace="fragments/alerts :: alert-warn(message=${errorMessage})"></div>
				</div>
			</div>
		</div>
		<input id="job-order-id" hidden name="id" type="text" th:value="${jobOrderForm.id}" />

		<!--Row 1-->
		<div class="form-row">
			<!--Left Column-->
			<div class="form-group col-lg-6 col-xl-6">
				<!--JO Number & JO Date-->
				<div class="form-row">
					<div class="form-group col-sm-6"> <!--JO Number-->
						<label for="jo-number"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.jonumber}">JO Number</label>
						<div class="col-sm-12">
							<input id="jo-number" type="text" th:field="*{number}"
								class="form-control form-control-sm" placeholder="Enter job order number"
								autofocus="autofocus" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('number')}" th:errors="*{number}"
								class="text-danger">JO Number Error</div>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="jo-date"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.jodate}">JO Date</label>
						<div class="col-sm-12">
							<input id="jo-date" type="text" th:field="*{joDate}"
								class="form-control form-control-sm" placeholder="Job Order Date" readonly th:attr="data-has-candidates=*{jobOrderCandidates} ? not *{#lists.isEmpty(jobOrderCandidates)}"/>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('joDate')}" th:errors="*{joDate}"
							class="text-danger">JO date error</div>
						</div>
					</div>
				</div>

				<!--End client-->
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="end-client" class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.endclient}">End Client</label>
						<div class="col-sm-12">
							<div th:if="${endClients != null AND !endClients.empty}  ">
								<select id="endClient.id" name="endClient.id"
									class="form-control form-control-sm" placeholder="End client">
									<option th:each="endClientItem : ${endClients}" th:value="${endClientItem.id}"
									th:text="${endClientItem.name}" th:selected="*{endClient} != null ? *{endClient.id} == ${endClientItem.id}">
										Placeholder Corp.</option>
								</select>
							</div>
							<div th:if="${endClients == null} AND *{endClient} != null">
								<select class="form-control form-control-sm" placeholder="End client" disabled="disabled">
								<option th:text="*{endClient.name}" selected="selected">
									Placeholder Corp.</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group col-sm-6">
						<label for="division" class="col-sm-4 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.division}">Division</label>
						<div class="col-sm-12">
							<input id="division" type="text" th:field="*{division}"
								class="form-control form-control-sm" placeholder="Division">
							</select>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('division')}" th:errors="*{division}"
							class="text-danger">Division error</div>
						</div>
					</div>
				</div>

				<!--Job Title and JD File-->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="title" class="col-sm-4 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.title}">Title</label>
						<div class="col-sm-12">
							<input id="title" type="text" th:field="*{title}"
								class="form-control form-control-sm" placeholder="Enter title" />
						</div>
		
						<div class="col">
							<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
								class="text-danger">Title Error</div>
						</div>
					</div>
		
					<!--JD File upload-->
					<div class="form-group col-md-6">
						<label for="title" class="col-sm-4 col-form-label font-weight-bold"
						th:text="#{joborder.edit.field.file}">file</label>
						<div class="col-sm-12">
							<input id="jo-file" th:field="*{file}" type="file" class="form-control-file"/>
						</div>

						<div class="col">
							<div th:if="${#fields.hasErrors('file')}" th:errors="*{file}"
								class="text-danger">File Error</div>
						</div>
					</div>
				</div>
			</div>

			<!--Middle column-->
			<div class="form-group col-lg-6 col-xl-6">
				<!--Location-->
				<div class="form-row">
					<div class="form-group col-sm-6">
						<label for="location"
						class="col-sm-12 col-form-label font-weight-bold"
						th:text="#{joborder.edit.field.location}">Location</label>
						<div class="col-sm-12">
							<input id="location" type="text" th:field="*{location}"
								class="form-control form-control-sm" placeholder="City and State" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('location')}" th:errors="*{location}"
								class="text-danger">Location Error</div>
						</div>
					</div>

					<div class="form-group col-sm-6">
						<label for="zip-code"
						class="col-sm-12 col-form-label font-weight-bold"
						th:text="#{joborder.edit.field.zipcode}">ZIP Code</label>
						<div class="col-sm-12">
							<input id="zip-code" type="text" th:field="*{zipCode}"
								class="form-control form-control-sm" placeholder="ZIP Code" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"
								class="text-danger">ZIP Code Error</div>
						</div>
					</div>
				</div>

				<div class="form-row">
					<!--Start date-->
					<div class="form-group col-sm-6">
						<label for="start-date"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.startdate}">Start Date</label>
						<div class="col-sm-12">
							<input id="start-date" type="text" th:field="*{startDate}"
								class="form-control form-control-sm" placeholder="Start Date" readonly/>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"
							class="text-danger">Start date error</div>
						</div>
					</div>
	
					<!--End date-->
					<div class="form-group col-sm-6">
						<label for="start-date"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.enddate}">End Date</label>
						<div class="col-sm-12">
							<input id="end-date" type="text" th:field="*{endDate}"
								class="form-control form-control-sm" placeholder="End Date" readonly/>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"
							class="text-danger">Start date error</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<!--Row 2-->
		<div class="form-row">
			<!--Row 2 Left Column-->
			<div class="form-group col-lg-6 col-xl-6">
				<div class="col-md-12">
					<!--Bill rate label-->
					<!--Bill rate from and to input-->
					<div class="form-row form-group">
						<label for="bill-rate-from"
						class="col-sm-12 col-form-label font-weight-bold"
						th:text="#{joborder.edit.field.billrate}">Bill rate</label>
						<div class="col-sm-3">
							<input id="bill-rate-from" type="number" th:field="*{billRateStart}"
								class="rates form-control form-control-sm" placeholder="From" min="1" step="0.01"/>
							<div class="col">
								<div th:if="${#fields.hasErrors('*')}" th:errors="*{billRateStart}"
								class="text-danger">Bill rate start error</div>
							</div>
						</div>

						<div class="col-sm-3">
							<input id="bill-rate-to" type="number" th:field="*{billRateEnd}"
							class="rates form-control form-control-sm" placeholder="To" min="1" step="0.01"/>
							<div class="col">
								<div th:if="${#fields.hasErrors('billRateEnd')}" th:errors="*{billRateEnd}"
								class="text-danger">Bill rate end error</div>
							</div>
						</div>
						<div class="col-sm-6">
							<select id="bill-rate-period" th:field="*{billPeriodRate}"
							class="form-control form-control-sm">
								<option value="perhour">US$/hour</option>
								<option value="perannum">US$/year</option>
							</select>
						</div>
					</div>

					<!--Pay rate from and to input-->
					<div class="form-group form-row">
						<label for="pay-rate-from"
						class="col-sm-12 col-form-label font-weight-bold"
						th:text="#{joborder.edit.field.payrate}">Pay rate</label>
						<div class="form-group col-sm-3">
							<input id="pay-rate-from" type="number" th:field="*{payRateStart}"
								class="rates form-control form-control-sm" placeholder="From" min="1" step="0.01"/>
							<div class="col">
								<div th:if="${#fields.hasErrors('payRateStart')}" th:errors="*{payRateStart}"
								class="text-danger">Pay rate start error</div>
							</div>
						</div>

						<div class="form-group col-sm-3">
							<input id="pay-rate-to" type="number" th:field="*{payRateEnd}"
							class="rates form-control form-control-sm" placeholder="To" min="1" step="0.01"/>
							<div class="col">
								<div th:if="${#fields.hasErrors('payRateEnd')}" th:errors="*{payRateEnd}"
								class="text-danger">Pay rate end error</div>
							</div>
						</div>

						<div class="form-group col-sm-6">
							<select id="pay-rate-period" th:field="*{payPeriodRate}"
							class="form-control form-control-sm">
								<option value="perhour">US$/hour</option>
								<option value="perannum">US$/year</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<!--Row 2 Center Column-->
			<div class="form-group col-lg-6 col-xl-6">
				<div class="form-row">
					<!--Openings-->
					<div class="form-group col-sm-6">
						<label for="openings"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.openings}">Openings</label>
						<div class="col-sm-12">
							<input id="openings" name="openings" type="number"
								class="form-control form-control-sm" th:value="*{openings} ?: 1" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('openings')}" th:errors="*{openings}"
							class="text-danger">Openings error</div>
						</div>
					</div>

					<!--Max subs-->
					<div class="form-group col-sm-6">
						<label for="max-subs"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.maxsubs}">Max subs</label>
						<div class="col-sm-12">
							<input id="maxSubs" name="maxSubs" type="number"
								class="form-control form-control-sm" th:value="*{maxSubs} ?: 3" />
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('maxSubs')}" th:errors="*{maxSubs}"
							class="text-danger">Max subs error</div>
						</div>
					</div>
				</div>

				<div class="form-row">
					<!--Status-->
					<div class="form-group col-sm-6">
						<label for="status"
							class="col-sm-12 col-form-label font-weight-bold"
							th:text="#{joborder.edit.field.status}">Status</label>
						<div class="col-sm-12">
							<select id="status" name="status"
								class="form-control form-control-sm" placeholder="End client">
								<option value="New" th:selected="*{status} == 'New'" th:text="'New'">
									New</option>
								<option value="Open" th:selected="*{status} == 'Open'" th:text="'Open'">
									Open</option>
								<option value="Closed" th:selected="*{status} == 'Closed'" th:text="'Closed'">
									Closed</option>
								<option value="Halted" th:selected="*{status} == 'Halted'" th:text="'Halted'">
									Halted</option>
								<option value="Re-open" th:selected="*{status} == 'Re-open'" th:text="'Re-open'">
									Re-open</option>
							</select>
						</div>
						<div class="col">
							<div th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
							class="text-danger">Status error</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col">
				<button id="submit" type="submit" class="btn btn-primary"
					th:text="#{button.save}">Save</button>
				<a href="/joborder/new" class="btn btn-secondary"
					th:text="#{button.reset}">Reset</a>
			</div>
		</div>
	</form>
	<script th:src="@{/js/states.js}"></script>
	<script th:src="@{/js/joborder-edit.js}"></script>
</section>

</html>