<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{joborder.view.title}">ATS Job Order View</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
			</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>
	<body>
		<section>
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-dark" th:text="#{joborder.view.header(${jobOrderForm.number})}">Job Order View&nbsp;</h6>
							<form action="#" th:action="@{/joborder/edit}" method="get">
								<input hidden name="id" type="text" th:value="${jobOrderForm.id}" />
								<button type="submit" class="btn btn-primary" th:text="#{button.edit}">Edit</button>
								<a th:href="@{/shortlist(joid=${jobOrderForm.id})}" class="btn btn-secondary"
								th:text="#{joborder.view.button.import}">
									Import</a>
							</form>
							
						</div>
						<div class="card-body">
							<div class="row">
								
								<div class="col-lg-4 col-sm-12">
									<div class="row">
										<div class="col text-truncate">
											<b><span th:text="#{joborder.view.field.jodate}">
													JO Date:</span> </b>
											<span th:text="${#temporals.format(jobOrderForm.joDate, 'MM/d/yyyy')}">value</span>
										</div>
										<div class="col-auto">
											<b><span th:text="#{joborder.view.field.datecreated}">Date
													created:</span> </b>
											<span th:text="${#temporals.format(jobOrderForm.dateCreated, 'MM/d/yyyy')}">value</span>
										</div>
									</div>

									<div class="row">
										<div class="col text-truncate">
											<b><span  th:text="#{joborder.view.field.endclient}">
													End Client</span> </b>
											<span th:text="${jobOrderForm.endClient.name}">Placeholder Client</span>
										</div>
										<div class="col-auto">
											<b><span  th:text="#{joborder.view.field.division}">
													Div</span> </b>
											<span th:text="${jobOrderForm.division}">Placeholder Div</span>
										</div>
									</div>

									<div class="row justify-content-start">
										<div class="col text-truncate">
											<b><span th:text="#{joborder.view.field.title}">Title</span>
											</b>
											<span th:text="${jobOrderForm.title}">value</span>
										</div>
										<div th:if="${jobOrderForm.hasFile}"class="col-auto">
											<a class="badge badge-danger text-white" th:href="@{/joborder/download(joid=${jobOrderForm.id})}">
												<i class="fa fa-download"></i> Download File
											</a>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-sm-12">
									<hr class="d-lg-none d-xs-block">
									<!--Zip code-->
									<div class="row">
										<div class="col-6 text-truncate">
											<b><span th:text="#{joborder.view.field.location}">Location</span>
											</b>
											<span th:text="${jobOrderForm.location}">value</span>
										</div>
										
										<div class="col-6">
											<b><span th:text="'ZIP Code: '">ZIP</span>
											</b>
											<span th:text="${jobOrderForm.zipCode}">value</span>
										</div>
									</div>
								
									<div class="row">
										<!--Start date and end date-->
										<div class="col-6">
											<div class="row">
												<div class="col-12">
													<b><span th:text="#{joborder.view.field.startdate}">Start Date</span>
													</b>
													<span th:text="${#temporals.format(jobOrderForm.startDate, 'MM/d/yyyy')}" >1/1/1970</span>
												</div>
											</div>
											<div class="row">
												<div class="col-12">
													<b><span th:text="#{joborder.view.field.enddate}">Start Date</span>
													</b>
													<span th:text="${#temporals.format(jobOrderForm.endDate, 'MM/d/yyyy')}">1/1/1970</span>
												</div>
											</div>
										</div>

										<!--Bill rate and pay rate-->
										<div class="col-6">
											<div class="row">
												<div class="col-12">
													<b><span th:text="#{joborder.view.field.billrate}">Bill Rate</span>
													</b>
													<span th:text="${jobOrderForm.billRateStart}">8.00</span> - 
													<span th:text="${jobOrderForm.billRateEnd}">10.00</span>
													<span th:text="${jobOrderForm.billPeriodRate} == 'perhour' ? '$/hour' : '$/year'">$/hour</span>
												</div>
											</div>
											
											<div class="row">
												<div class="col-12">
													<b><span th:text="#{joborder.view.field.payrate}">Pay Rate</span>
													</b>
													<span th:text="${jobOrderForm.payRateStart} + ' - ' + ${jobOrderForm.payRateEnd}">8.00 - 10.00 </span>
													<span th:text="${jobOrderForm.payPeriodRate} == 'perhour' ? '$/hour' : '$/year'">$/hour</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-sm-12">
									<hr class="d-lg-none d-sm-block">
									<div class="row">
										<div class="col-12">
											<b><span th:text="#{joborder.view.field.openings}">Openings</span>
											</b>
											<span th:text="${jobOrderForm.openings}">1</span>
										</div>
									</div>

									<div class="row">
										<div class="col-12">
											<b><span th:text="#{joborder.view.field.maxsubs}">Max Subs</span>
											</b>
											<span th:text="${jobOrderForm.maxSubs}">3</span>
										</div>
									</div>
									
									<div class="row">
										<div class="col-12">
											<b><span th:text="#{joborder.view.field.status}">Status</span>
											</b>
											<span th:text="${jobOrderForm.status}">New</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h5 class="mt-2" th:text="#{joborder.view.candidates.header}">Candidates</h5>
			<table id="candidate-view" class="table table-striped table-bordered"
				style="width: 100%">
				<thead>
					<tr>
						<th th:text="#{joborder.view.column.candidateid}">Candidate ID</th>
						<th th:text="#{joborder.view.column.source}">Source</th>
						<th th:text="#{joborder.view.column.firstname}">First Name</th>
						<th th:text="#{joborder.view.column.lastname}">Last Name</th>
						<th th:text="#{joborder.view.column.phone}">Phone</th>
						<th th:text="#{joborder.view.column.mobile}">Mobile</th>
						<th th:text="#{joborder.view.column.email}">Email</th>
						<th th:text="#{joborder.view.column.payrate}">Email</th>
						<th th:text="#{joborder.view.column.action}">Action</th>                
					</tr>
				</thead>
				<tbody>
					<tr th:each="jobordercandidate : ${jobOrderForm.jobOrderCandidates}">
						<td>
							<a class="text-dark"
							th:href="@{/candidate(id=${jobordercandidate.candidateId})}"
							th:text="${jobordercandidate.candidateId}">
								Candidate ID
							</a>
						</td>
						<td th:text="${jobordercandidate.source}">
							Source</td>
						<td>
							<a class="text-dark"
							th:href="@{/candidate(id=${jobordercandidate.candidateId})}"
							th:text="${jobordercandidate.firstName}">
								First Name
							</a>
						</td>
						<td>
							<a class="text-dark"
							th:href="@{/candidate(id=${jobordercandidate.candidateId})}"
							th:text="${jobordercandidate.lastName}">
								Last Name
							</a>
						</td>
						<td th:text="${jobordercandidate.phone}">
							Phone</td>
						<td th:text="${jobordercandidate.mobile}">
							Mobile</td>
						<td th:text="${jobordercandidate.email}">
							Email</td>
						<td th:id="|payrate-cell-${jobordercandidate.id}|"
							th:text="|${jobordercandidate.payRateFrom} - ${jobordercandidate.payRateTo} ${jobordercandidate.payPeriodRate == 'perhour' ? '$/hour' : '$/year'}|">
							Pay rate
						</td>
						<td class="action">
							<span data-toggle="tooltip" title="Prescreen">
								<a href="#" class="prescreen-button text-primary"
									th:id="'prescreen-button_' + ${jobordercandidate.id}"
									th:classappend="${jobordercandidate.submission} ? 'disabled'"
									th:attr="data-jocandidate-id=${jobordercandidate.id}"
									data-toggle="modal" data-target="#prescreen-modal">
									<i class="workflow-icon fas fa-fw fa-file-alt"
										th:id="'icon_prescreen_' + ${jobordercandidate.id}"></i>
								</a>
							</span>

							<span data-toggle="tooltip" title="Submit">
								<a href="#" class="submission-button text-primary"
									th:id="'submission-button_' + ${jobordercandidate.id}"
									th:classappend="${jobordercandidate.clientSubmission} ? 'disabled'"
									th:attr="data-jocandidate-id=${jobordercandidate.id}"
									data-toggle="modal" data-target="#submission-modal">
									<i class="workflow-icon fas fa-fw fa-paper-plane"
										th:id="'icon_submission_' + ${jobordercandidate.id}"></i>
								</a>
							</span>

							<span data-toggle="tooltip" title="Present">
								<a href="#" class="client-submission-button text-primary"
									th:id="'client-submission-button_' + ${jobordercandidate.id}"
									th:classappend="${jobordercandidate.interview} ? 'disabled'"
									th:attr="data-jocandidate-id=${jobordercandidate.id}"
									data-toggle="modal" data-target="#client-submission-modal">
									<i class="workflow-icon fas fa-fw fa-portrait"
										th:id="'icon_client-submission_' + ${jobordercandidate.id}"></i>
								</a>
							</span>

							<span data-toggle="tooltip" title="Interview">
								<a href="#" class="interview-button text-primary"
									th:id="'interview-button_' + ${jobordercandidate.id}"
									th:classappend="${jobordercandidate.placement} ? 'disabled'"
									th:attr="data-jocandidate-id=${jobordercandidate.id}"
									data-toggle="modal" data-target="#interview-modal">
									<i class="workflow-icon fas fa-fw fa-comment" 
										th:id="'icon_interview_' + ${jobordercandidate.id}"></i>
								</a>
							</span>

							<span data-toggle="tooltip" title="Placement">
								<a href="#" class="placement-button text-primary"
									th:id="'placement-button_' + ${jobordercandidate.id}"
									th:attr="data-jocandidate-id=${jobordercandidate.id}"
									data-toggle="modal" data-target="#placement-modal">
									<i class="workflow-icon fas fa-fw fa-building"
										th:id="'icon_placement_' + ${jobordercandidate.id}"></i>
								</a>
							</span>

							<div sec:authorize="hasAuthority('menu.workflow.edit')">
								<span>|</span>

								<span data-toggle="tooltip" title="Edit">
									<a href="#" class="edit-button text-primary"
										th:id="'edit-button_' + ${jobordercandidate.id}"
										th:attr="data-jocandidate-id=${jobordercandidate.id}"
										data-toggle="modal" data-target="#edit-modal">
										<i class="workflow-icon fas fa-fw fa-edit"
											th:id="'icon_edit_' + ${jobordercandidate.id}"></i>
									</a>
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:replace="fragments/modals :: modals"></div>
			<script th:src="@{/js/joborder-view.js}"></script>
		</section>
	</body>
</html>