<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
	
<head>
<title th:text="#{prescreen.view.title}">ATS Prescreen View</title>
<!--/*/ <th:block th:include="fragments/general :: header">
        </th:block> /*/-->

<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>

<section>
	<h1 class="h3 mb-2 text-gray-800" th:text="#{prescreen.view.header}">Prescreen View</h1>
	<form action="#" th:action="@{/workflow/prescreen}" class="form-inline"
		th:object="${jobOrderForm}" method="get">
		<div class="form-group">
			<label for="workflow-date-from" class="mr-2 font-weight-bold"
				th:text="#{prescreen.view.search.datefrom}">Date from</label> <input
				id="workflow-date-from" name="dateFrom" type="text" class="mr-5 form-control"
				placeholder="Enter date from" />
		</div>
		<div class="form-group">
			<label for="workflow-date-to" class="mr-2 font-weight-bold"
				th:text="#{prescreen.view.search.dateto}">Date to</label> <input
				id="workflow-date-to" name="dateTo" type="text" class="mr-5 form-control"
				placeholder="Enter date to" />
			<button type="submit" class="btn btn-primary mr-1"
				th:text="#{button.search}">Search</button>
			<a href="/workflow/prescreen" class="btn btn-secondary"
				th:text="#{button.reset}">Reset</a>
		</div>
	</form>
	<table id="candidate-view" class="table table-striped table-bordered"
		style="width: 100%">
		<thead>
			<tr>
				<th th:text="#{prescreen.view.column.lasttransactiondate}">Date</th>
				<th th:text="#{prescreen.view.column.endclient}">End Client</th>
				<th th:text="#{prescreen.view.column.jobordernumber}">Job Order No.</th>
				<th th:text="#{prescreen.view.column.payrate}">Pay Rate</th>
				<th th:text="#{prescreen.view.column.candidateid}">Candidate ID</th>
				<th th:text="#{prescreen.view.column.source}">Source</th>
				<th th:text="#{prescreen.view.column.firstname}">First Name</th>
				<th th:text="#{prescreen.view.column.lastname}">Last Name</th>
				<th th:text="#{prescreen.view.column.phone}">Phone</th>
				<th th:text="#{prescreen.view.column.mobile}">Mobile</th>
                <th th:text="#{prescreen.view.column.email}">Email</th>
                <th th:text="#{prescreen.view.column.action}">Action</th>                
			</tr>
		</thead>
		<tbody>
			<tr th:each="jobordercandidate : ${jocandidates}" th:id="row_joc_ + ${jobordercandidate.id}">
				<td th:text="${#temporals.format(jobordercandidate.transactionDate, 'MM/d/yyyy')}">
					Last Txn Date</td>
				<td th:text="${jobordercandidate.endClientName}">End Client</td>
				<td>
					<a class="text-dark"
					th:href="@{/joborder/view(id=${jobordercandidate.jobOrderId})}"
					th:text="${jobordercandidate.jobOrderNumber}">
						Job Order Number
					</a>
				</td>
				<td>
					<span th:text="${jobordercandidate.payRateFrom} + ' - ' + ${jobordercandidate.payRateTo}">8.00 - 10.00 </span>
					<span th:text="${jobordercandidate.payPeriodRate} == 'perhour' ? '$/hour' : '$/year'">$/hour</span>
				</td>
				<td>
					<a class="text-dark"
					th:href="@{/candidate(id=${jobordercandidate.candidateId})}"
					th:text="${jobordercandidate.candidateId}">
						Candidate ID
					</a>
				</td>
				<td th:text="${jobordercandidate.source}">Source</td>
				<td>
					<a class="text-dark"
					th:href="@{/candidate(id=${jobordercandidate.candidateId})}"
					th:text="${jobordercandidate.firstName}">
						First Name
					</a>
				</td>
				<td>
					<a class="text-dark"
					th:href="@{/candidate(id=${jobordercandidate.candidateId})}"
					th:text="${jobordercandidate.lastName}">
						Last Name
					</a>
				</td>
				<td th:text="${jobordercandidate.phone}">Phone</td>
				<td th:text="${jobordercandidate.mobile}">Mobile</td>
                <td th:text="${jobordercandidate.email}">Email</td>
				<td class="action">
					<span data-toggle="tooltip" title="Prescreen">
						<a href="#" class="prescreen-button text-primary"
							th:id="'prescreen-button_' + ${jobordercandidate.id}"
							th:classappend="${jobordercandidate.submission} ? 'disabled'"
							th:attr="data-jocandidate-id=${jobordercandidate.id}"
							data-toggle="modal" data-target="#prescreen-modal">
							<i class="workflow-icon fas fa-fw fa-file-alt"
								th:id="'icon_prescreen_' + ${jobordercandidate.id}"></i>
						</a>
					</span>

					<span data-toggle="tooltip" title="Submit">
						<a href="#" class="submission-button text-primary"
							th:id="'submission-button_' + ${jobordercandidate.id}"
							th:classappend="${jobordercandidate.clientSubmission} ? 'disabled'"
							th:attr="data-jocandidate-id=${jobordercandidate.id}"
							data-toggle="modal" data-target="#submission-modal">
							<i class="workflow-icon fas fa-fw fa-paper-plane"
								th:id="'icon_submission_' + ${jobordercandidate.id}"></i>
						</a>
					</span>

					<span data-toggle="tooltip" title="Present">
						<a href="#" class="client-submission-button text-primary"
							th:id="'client-submission-button_' + ${jobordercandidate.id}"
							th:classappend="${jobordercandidate.interview} ? 'disabled'"
							th:attr="data-jocandidate-id=${jobordercandidate.id}"
							data-toggle="modal" data-target="#client-submission-modal">
							<i class="workflow-icon fas fa-fw fa-portrait"
								th:id="'icon_client-submission_' + ${jobordercandidate.id}"></i>
						</a>
					</span>

					<span data-toggle="tooltip" title="Interview">
						<a href="#" class="interview-button text-primary"
							th:id="'interview-button_' + ${jobordercandidate.id}"
							th:classappend="${jobordercandidate.placement} ? 'disabled'"
							th:attr="data-jocandidate-id=${jobordercandidate.id}"
							data-toggle="modal" data-target="#interview-modal">
							<i class="workflow-icon fas fa-fw fa-comment" 
								th:id="'icon_interview_' + ${jobordercandidate.id}"></i>
						</a>
					</span>

					<span data-toggle="tooltip" title="Placement">
						<a href="#" class="placement-button text-primary"
							th:id="'placement-button_' + ${jobordercandidate.id}"
							th:classappend="${jobordercandidate.placement} ? 'disabled'"
							th:attr="data-jocandidate-id=${jobordercandidate.id}"
							data-toggle="modal" data-target="#placement-modal">
							<i class="workflow-icon fas fa-fw fa-building"
								th:id="'icon_placement_' + ${jobordercandidate.id}"></i>
						</a>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:replace="fragments/modals :: modals"></div>
	<script th:src="@{/js/workflow.js}"></script>
</section>

</html>