<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::head}, ~{::section})}">
<head>
	<title th:text="#{source.view.title}">ATS Sources View</title>
	<!--/*/ <th:block th:include="fragments/general :: header">
			</th:block> /*/-->
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/jquery-ui.min.css}" />
</head>
	<body>
		<section>
			<div class="row">
				<div class="col-md-12">
					<div class="card shadow mb-4">
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-dark" th:text="#{source.view.header(${sourceForm.name})}">Source "source name"&nbsp;</h6>
							<form action="#" th:action="@{/sources/edit}" method="get">
								<input hidden name="id" type="text" th:value="${sourceForm.id}" />
								<button type="submit" class="btn btn-primary" th:text="#{button.edit}">Edit</button>
							</form>
							
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12 col-sm-12">
									<div class="row">
										<div class="col-lg-12">
											<b><span th:text="#{source.view.field.name}">
													Source Name:</span> </b>
											<span th:text="${sourceForm.name}">Source Name</span>
										</div>
                                    </div>
                                    
                                    <div class="row">
										<div class="col-lg-2">
											<b><span th:text="#{source.view.field.category}">
													Category:</span> </b>
											<span th:text="${#strings.capitalize(sourceForm.category)}">Category</span>
										</div>
                                        <div class="col-lg-2">
                                            <b><span th:text="#{source.view.field.index}">
                                                    Index:</span> </b>
                                            <span th:text="${sourceForm.index}">Index</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <b><span th:text="#{source.view.field.description}">Description:</span> </b>
                                            <span th:text="${sourceForm.description}">Description</span>
                                        </div>
                                    </div>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>