html, body {
	height: 100%;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.center-row {
	margin: auto;
	max-width: 1000px;
}

.section {
	padding-top: 20px;
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one */
	display: flex;
	align-items: center;
	margin: 0 auto -150px;
	/* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 150px; /* .push must be the same height as .footer */
}

.dropdown .dropdown-menu {
  font-size: 0.85rem;
}

.dropdown .dropdown-menu .dropdown-header {
  font-weight: 800;
  font-size: 0.65rem;
  color: #b7b9cc;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

/* Side nav bar */
.sidebar .nav-item.dropdown .dropdown-toggle::after, .topbar .nav-item.dropdown .dropdown-toggle::after
	{
	width: 1rem;
	text-align: center;
	float: right;
	vertical-align: 0;
	border: 0;
	font-weight: 900;
	content: '\f105';
	font-family: 'Font Awesome 5 Free';
}

.sidebar .nav-item.dropdown.show .dropdown-toggle::after, .topbar .nav-item.dropdown.show .dropdown-toggle::after
	{
	content: '\f107';
}

.sidebar .nav-item .nav-link, .topbar .nav-item .nav-link {
	position: relative;
}

.sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter
	{
	position: absolute;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transform-origin: top right;
	transform-origin: top right;
	right: .25rem;
	margin-top: -.25rem;
}

.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile
	{
	height: 2rem;
	width: 2rem;
}

.sidebar {
	width: 6.5rem;
	min-height: 100vh;
}

.sidebar .nav-item {
	position: relative;
}

.sidebar .nav-item:last-child {
	margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
	text-align: center;
	padding: 0.75rem 1rem;
	width: 6.5rem;
}

.sidebar .nav-item .nav-link span {
	font-size: 0.65rem;
	display: block;
}

.sidebar .nav-item.active .nav-link {
	font-weight: 700;
}

.sidebar .nav-item .collapse {
	position: absolute;
	left: calc(6.5rem + 1.5rem/ 2);
	z-index: 1;
	top: 2px;
}

.sidebar .nav-item .collapse .collapse-inner {
	border-radius: 0.35rem;
	-webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.sidebar .nav-item .collapsing {
	display: none;
	-webkit-transition: none;
	transition: none;
}

.sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item .collapsing .collapse-inner
	{
	padding: .5rem 0;
	min-width: 10rem;
	font-size: 0.85rem;
	margin: 0 0 1rem 0;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header, .sidebar .nav-item .collapsing .collapse-inner .collapse-header
	{
	margin: 0;
	white-space: nowrap;
	padding: .5rem 1.5rem;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 0.65rem;
	color: #b7b9cc;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item
	{
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
	display: block;
	color: #3a3b45;
	text-decoration: none;
	border-radius: 0.35rem;
	white-space: nowrap;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
	.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
	background-color: #eaecf4;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
	.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
	background-color: #dddfeb;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
	.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
	color: #4e73df;
	font-weight: 700;
}

.sidebar #sidebarToggle {
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	margin-bottom: 1rem;
	cursor: pointer;
}

.sidebar #sidebarToggle::after {
	font-weight: 900;
	content: '\f104';
	font-family: 'Font Awesome 5 Free';
	margin-right: 0.1rem;
}

.sidebar #sidebarToggle:hover {
	text-decoration: none;
}

.sidebar #sidebarToggle:focus {
	outline: none;
}

.sidebar.toggled {
	width: 0 !important;
	overflow: hidden;
}

.sidebar.toggled #sidebarToggle::after {
	content: '\f105';
	font-family: 'Font Awesome 5 Free';
	margin-left: 0.25rem;
}

.sidebar .sidebar-brand {
	height: 4.375rem;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 800;
	padding: 1.5rem 1rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	z-index: 1;
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
	font-size: 2rem;
}

.sidebar .sidebar-brand .sidebar-brand-text {
	display: none;
}

.sidebar hr.sidebar-divider {
	margin: 0 1rem 1rem;
}

.sidebar .sidebar-heading {
	text-align: center;
	padding: 0 1rem;
	font-weight: 600;
	font-size: 1rem;
}

.sidebar-dark .sidebar-brand {
	color: #fff;
}

.sidebar-dark .sidebar-heading {
	color: rgba(255, 255, 255, 0.4);
}

.sidebar-dark .nav-item .nav-link {
	color: rgba(255, 255, 255, 0.8);
}

.sidebar-dark .nav-item .nav-link i {
	color: rgba(255, 255, 255, 0.3);
}

.sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus,
	.sidebar-dark .nav-item .nav-link:hover {
	color: #fff;
}

.sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i,
	.sidebar-dark .nav-item .nav-link:hover i {
	color: #fff;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
	color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark .nav-item.active .nav-link {
	color: #fff;
}

.sidebar-dark .nav-item.active .nav-link i {
	color: #fff;
}

.sidebar-dark #sidebarToggle {
	background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-dark #sidebarToggle::after {
	color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark #sidebarToggle:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.sidebar-dark.toggled #sidebarToggle::after {
	color: rgba(255, 255, 255, 0.5);
}

.accordion>.card {
	overflow: hidden;
}

.accordion>.card:not (:first-of-type ) .card-header:first-child {
	border-radius: 0;
}

.accordion
>
.card
:not
 
(
:first-of-type
 
)
:not
 
(
:last-of-type
 
)
{
border-bottom
:
 
0;
border-radius
:
 
0;
}
.accordion>.card:first-of-type {
	border-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.accordion>.card:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.accordion>.card .card-header {
	margin-bottom: -1px;
}

.bg-gradient-dark {
	background-color: #5a5c69;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #5a5c69),
		to(#373840));
	background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
	background-size: cover;
}

.navbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.navbar>.container, .navbar>.container-fluid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none;
}

.navbar-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.35rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
	text-decoration: none;
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
}

@media ( min-width : 768px) {
	.sidebar {
		width: 14rem !important;
	}
	.sidebar .nav-item .collapse {
		position: relative;
		left: 0;
		z-index: 1;
		top: 0;
		-webkit-animation: none;
		animation: none;
	}
	.sidebar .nav-item .collapse .collapse-inner {
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.sidebar .nav-item .collapsing {
		display: block;
		-webkit-transition: height 0.15s ease;
		transition: height 0.15s ease;
	}
	.sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
		margin: 0 1rem;
	}
	.sidebar .nav-item .nav-link {
		display: block;
		width: 100%;
		text-align: left;
		padding: 1rem;
		width: 14rem;
	}
	.sidebar .nav-item.sub-item .nav-link {
		padding-left: 2rem;
	}
	.sidebar .nav-item .nav-link i {
		font-size: 0.85rem;
		margin-right: 0.25rem;
	}
	.sidebar .nav-item .nav-link span {
		font-size: 0.85rem;
		display: inline;
	}
	.sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
		width: 1rem;
		text-align: center;
		float: right;
		vertical-align: 0;
		border: 0;
		font-weight: 900;
		content: '\f107';
		font-family: 'Font Awesome 5 Free';
	}
	.sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
		content: '\f105';
	}
	.sidebar .sidebar-brand .sidebar-brand-icon i {
		font-size: 2rem;
	}
	.sidebar .sidebar-brand .sidebar-brand-text {
		display: inline;
	}
	.sidebar .sidebar-heading {
		text-align: left;
	}
	.sidebar.toggled {
		overflow: visible;
		width: 6.5rem !important;
	}
	.sidebar.toggled .nav-item .collapse {
		position: absolute;
		left: calc(6.5rem + 1.5rem/ 2);
		z-index: 1;
		top: 2px;
		-webkit-animation-name: growIn;
		animation-name: growIn;
		-webkit-animation-duration: 200ms;
		animation-duration: 200ms;
		-webkit-animation-timing-function: transform
			cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
		animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
			opacity cubic-bezier(0, 1, 0.4, 1);
	}
	.sidebar.toggled .nav-item .collapse .collapse-inner {
		-webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
		box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
		border-radius: 0.35rem;
	}
	.sidebar.toggled .nav-item .collapsing {
		display: none;
		-webkit-transition: none;
		transition: none;
	}
	.sidebar.toggled .nav-item .collapse, .sidebar.toggled .nav-item .collapsing
		{
		margin: 0;
	}
	.sidebar.toggled .nav-item:last-child {
		margin-bottom: 1rem;
	}
	.sidebar.toggled .nav-item .nav-link {
		text-align: center;
		padding: 0.75rem 1rem;
		width: 6.5rem;
	}
	.sidebar.toggled .nav-item .nav-link span {
		font-size: 0.65rem;
		display: block;
	}
	.sidebar.toggled .nav-item .nav-link i {
		margin-right: 0;
	}
	.sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
		display: none;
	}
	.sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
		font-size: 2rem;
	}
	.sidebar.toggled .sidebar-brand .sidebar-brand-text {
		display: none;
	}
	.sidebar.toggled .sidebar-heading {
		text-align: center;
	}
}
/*topbar */
.topbar {
	height: 4.375rem;
}

.topbar #sidebarToggleTop {
	height: 2.5rem;
	width: 2.5rem;
}

.topbar #sidebarToggleTop:hover {
	background-color: #eaecf4;
}

.topbar #sidebarToggleTop:active {
	background-color: #dddfeb;
}

.topbar .navbar-search {
	width: 25rem;
}

.topbar .navbar-search input {
	font-size: 0.85rem;
}

.topbar .topbar-divider {
	width: 0;
	border-right: 1px solid #e3e6f0;
	height: calc(4.375rem - 2rem);
	margin: auto 1rem;
}

.topbar .nav-item .nav-link {
	height: 4.375rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 0.75rem;
}

.topbar .nav-item .nav-link:focus {
	outline: none;
}

.topbar .nav-item:focus {
	outline: none;
}

.topbar .dropdown {
	position: static;
}

.topbar .dropdown .dropdown-menu {
	width: calc(100% - 1.5rem);
	right: 0.75rem;
}

.topbar .dropdown-list {
	padding: 0;
	border: none;
	overflow: hidden;
}

.topbar .dropdown-list .dropdown-header {
	background-color: #4e73df;
	border: 1px solid #4e73df;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	color: #fff;
}

.topbar .dropdown-list .dropdown-item {
	white-space: normal;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-left: 1px solid #e3e6f0;
	border-right: 1px solid #e3e6f0;
	border-bottom: 1px solid #e3e6f0;
	line-height: 1.3rem;
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image {
	position: relative;
	height: 2.5rem;
	width: 2.5rem;
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image img {
	height: 2.5rem;
	width: 2.5rem;
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator
	{
	background-color: #eaecf4;
	height: 0.75rem;
	width: 0.75rem;
	border-radius: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 0.125rem solid #fff;
}

.topbar .dropdown-list .dropdown-item .text-truncate {
	max-width: 10rem;
}

.topbar .dropdown-list .dropdown-item:active {
	background-color: #eaecf4;
	color: #3a3b45;
}

@media ( min-width : 576px) {
	.topbar .dropdown {
		position: relative;
	}
	.topbar .dropdown .dropdown-menu {
		width: auto;
		right: 0;
	}
	.topbar .dropdown-list {
		width: 20rem !important;
	}
	.topbar .dropdown-list .dropdown-item .text-truncate {
		max-width: 13.375rem;
	}
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
	color: #d1d3e2;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
	color: #b7b9cc;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
	color: #858796;
}

/* login form */
form.user .form-control-user {
	font-size: 0.8rem;
	border-radius: 10rem;
	padding: 1.5rem 1rem;
}

form.user .btn-user {
	font-size: 0.8rem;
	border-radius: 10rem;
	padding: 0.75rem 1rem;
}

/* Footer */
footer.sticky-footer {
  padding: 2rem 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}
body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

/* button */
.btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-circle.btn-xs, .btn-group-xs > .btn-circle.btn {
  height: 0.5em;
  width: 0.5em;
  font-size: 0.25rem;
}

.btn-circle.btn-sm, .btn-group-sm > .btn-circle.btn {
  height: 1.8rem;
  width: 1.8rem;
  font-size: 0.75rem;
}

.btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.35rem;
}

@media (min-width: 576px)
.form-inline .custom-select, .form-inline .input-group {
    width: auto;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}

/* Dashboard */
td.count {
	text-align: right;
}

#date-today{
	color: #FF0000;
}

tbody#job-order::before {
	content: "";
	display: block;
	height: 1.5em;
	width: 100%;
	background: transparent;
}

/* Tables */
td, td.action, th.last-txn-date {
	white-space: nowrap;
}

/* Job Order */
a.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.27;
}

#clientId, #daxtraDbId {
	border: 0px;
	outline: 0px;
}

.custom-select {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='m2 4L0 1h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}


/* Table Style */

thead>tr>th {
	background-color: #ff5656;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #94b6fd;
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #c0c8fc;
 }

 /* Eod Report Preview Style */
 .iframe-container {
	overflow: hidden;
	padding-top: 56.25%; /* 16:9 ratio */
	position: relative;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 90%;
	height: 100%;
  }

.btn-align-sm {
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}